#save-setup {
    padding-bottom:30px;
}

#calibration {
    text-align:center;
}

.device {
    padding-bottom:30px;
    width:500px;
}

.button {
    width:100px;
    float:left;
}

.text-value {
    float:right;
}

.ui-progressbar-value {
    background:red;
}

*/brewery stuff*/

.config-device { 
    width: 30px; 
    height: 10px; 
}

#brewery-holder {
    float:right;
    width:670px;
    height:650px;
    border-style:solid;
    border-width:thin;
    margin:5px;
}

#brewery-holder h2 {
    position:absolute;
}

.tank-holder {
    float:left;
    width:150px;
    height:200px;
    border-style:solid;
    border-width:thin;
    border-radius: 15px;
    margin:5px;
    text-align:center;
    Background:#BFBFBF;
    -webkit-box-shadow: 10px 10px 5px #888;
}

#analog-div {
    width:900px;
}

#temperature-div{
    width:400px;
    border-width:1px; 
    border-style:solid;
    padding:20px;
}


#volume-div {
    float:right;
    width:400px;
    border-width:1px; 
    border-style:solid;
    padding:20px;
}

.analog-history {
    width:400;
    height:200;
    padding-top:20px;
}